@{
    ViewData["Title"] = "Delete Confirmation";
}

<div class="text-center">   
    <h3>Do you really want to delete the contact (Victor Pereira)?</h3>
</div>

<a class="btn btn-primary w-100 m-1" role="button" asp-asp-controller="Contact" asp-action="Index" >Cancel deletion</a>
<a class="btn btn-danger w-100 m-1" role="button" asp-asp-controller="Contact" asp-action="Delete" >Confirm deletion</a>