@{
    ViewData["Title"] = "Edit Contact";
}

<div class="text-center">

    <h1 class="display-4">Register contact</h1>

</div>

<form>


    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Enter the contact name">

    </div>
    <br />

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" placeholder="Enter the contact e-mail">

    </div>
    <br />

    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" placeholder="Enter the contact phone">

    </div>
    <br />

    <button type="submit" class="btn btn-primary w-100 m-1 ">Add</button>

    <br />

    <a class="btn btn-secondary w-100 m-1 " asp-controller="Contact" asp-action="Index" role="button">Back</a>
</form>
